body {
    margin: 0px auto;
    color: #ccc;
    background: #222;
}

.background {
    background: url(background.webp) #222;
    background-position: bottom left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto calc(100% - 165px - 15pt);
}

tt {
    font-size: 150%;
}

a:link {
    color: #2C92E7;
}

a:visited {
    color: #2C92E7;
}

#head {
    height: 165px;
    background: #16a;
    background: url(banner.png) #002222;
    background-position:center;
    background-repeat: no-repeat;
}

#nav {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    background: #044;
    font-size: 15pt;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

#nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    width: 40%;
    padding: 0.2em 0.5em;
}

#nav a:hover {
    background: #066;
}

#nav .subtext {
    font-size: 10pt;
    font-weight: normal;
    position: relative;
    bottom: 2pt;
    color: #ccc;
}

#content {
    margin: 0px auto;
    padding: 1em 2em;
    padding-bottom: 2em;
    max-width: 57em;
}

#footer {
    margin-top: 0.2em;
    text-align: center;
    color: #333;
}

#footer a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

div.big-button {
    padding: 0.4em;
    background: #044;
    text-align: center;
    margin-bottom: 10px;
}

a.big-button {
    text-decoration: none;
    color: #ccc;
}

.big-button-label {
    font-size: 1.55em;
    font-weight: bold;
}

.sidebar {
    float: left;
    max-width: 35%;
    margin-right: 10px;
}

/* news */
.article {
    margin-bottom: 30px;
}

.a_header {
    border-bottom: 1px #444 solid;
    margin-bottom: 0.5em;
}

.a_title {
    font-size: 1.5em;
}

.a_header a:link, .a_header a:visited {
    text-decoration: none;
    color: #ccc;
}

.a_date {
    float: right;
}

.a_content {
    clear: both;
}

/* media */
.screen {
    float: left;
    width: 43.85964912280701754300%;
    margin: 3.07017543859649122850%;
    height: auto;
    transition: transform .2s;
    filter: drop-shadow(2px 4px 6px black);
}

.screen:hover {
    transform: scale(1.137);
}

.screen_caption {
    clear: both;
    padding-top: 2em;
}

hr {
    margin-top: 2em;
    margin-bottom: 2em;
    border: 1px solid;
    opacity: 0.5;
}

.feed {
    margin-left: 3px;
    padding: 0 0 0 19px;
    background: url("feed-icon-14x14.png") no-repeat 0 50%;
    float: right;
}

.code-hidden {
    background: #333333;
    border: 1px solid #777777;
    overflow-x: scroll;
    white-space: nowrap;
    padding: 1em;
    margin-top: 0.5em;
    margin-bottom: 2em;
    font-family: monospace, monospace;
}

.embed-container {
    position: relative;
    max-width: 100%;
    padding-bottom: 75%;   /* 4:3 aspect ratio */
    height: 0;
    overflow: hidden;
}

.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.collapsible-toggle {
    display: none;
}

.collapsible-label {
    cursor: pointer;
    color: #2C92E7;
    user-select: none;
}

.collapsible-label:hover {
    text-decoration: underline;
}

.collapsible-label::after {
    content: ' ';
    display: inline-block;

    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;

    vertical-align: middle;
    margin-left: .5rem;
    transform: translateY(-2px);

    transition: transform .2s ease-out;
}

.collapsible-content {
    display: block;
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
}

.collapsible-toggle:checked + .collapsible-label + .collapsible-content {
    max-height: 350px;
}

.collapsible-toggle:checked + .collapsible-label::after {
    transform: rotate(90deg) translateX(-3px);
}

.collapsible-toggle:checked + .collapsible-label {
    text-decoration: underline;
}

.splitter {
    display: table;
    width: 100%;
}

.splitter-pane {
    display: table-cell;
    width: 50%;
}

.splitter-pane-content {
    padding: 0 0.5em;
}

li {
    margin-block-end: 0.25em;
}
