body { margin:0px auto; background: #222; color: #ccc; }
tt { font-size: 150%; }
a:link { color: #2C92E7; }
a:visited { color: #2C92E7; }

#head { height: 165px; background: #16a;  background: url(banner.png) #002222; background-position:center; background-repeat: no-repeat;}

#nav { padding-top: 0.2em; padding-bottom: 0.2em; background: #044; font-size: 15pt; text-align: center; }
#nav a { text-decoration:none; color: white; font-weight: bold; width: 40%; padding: 0.2em}
#nav a:hover { background: #066; }

#content { margin:0px auto; padding: 1em; max-width:50em; padding-top:2em;padding-bottom: 2em; }
#footer { margin-top: 0.2em; text-align: center; color: #333; }
#footer a { color: #333; text-decoration: none; font-weight: bold; }

div.big-button {
    padding: 0.4em;
    background: #044;
    text-align: center;
    margin-left: 3.5%;
    margin-bottom: 3.5%;
}

a.big-button {
    text-decoration: none;
    color: #ccc;
}

.big-button-label {
    font-size: 1.55em;
    font-weight: bold;
}

/* news */
.article { margin-bottom: 30px; }
.a_header { border-bottom: 1px #444 solid; margin-bottom: 0.5em; }
.a_title { font-size: 1.5em; }
.a_header a:link, .a_header a:visited { text-decoration:none; color: #ccc; }
.a_date { float:right; }

.a_content { clear: both; }

/* media */
.screen { float:left; }
.screen_caption { clear:both; padding-top:2em;}

hr {
    margin-top:2em;
    margin-bottom:2em;
    border: 1px solid;
}

.feed {
    margin-left: 3px;
    padding: 0 0 0 19px;
    background: url("feed-icon-14x14.png") no-repeat 0 50%;
    float:right;
}

.code-hidden {
    background: #333333;
    border: 1px solid #777777;
    overflow-x: scroll;
    white-space: nowrap;
    padding: 1em;
    display: none;
    font-family: monospace, monospace;
}

.code-hidden:target {
    display: block;
}

.embed-container {
    position: relative;
    padding-bottom: 40%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
