{% extends "main.html" %}
{% block title %}Download{% endblock %}

{% macro deb_help(distro, stable) %}
<a href="#{{ distro|replace("/","_") }}{% if stable %}_stable{% endif %}">{{ distro|replace("xUbuntu ", "")|replace("Debian ", "") }}</a>
<div class="code-hidden" id="{{ distro|replace("/","_") }}{% if stable %}_stable{% endif %}">
    sudo add-apt-repository "deb https://download.opensuse.org/repositories/home:/lachs0r:/taisei{% if stable %}:/stable{% endif %}/{{ distro|replace(" ", "_") }}/ ./"<br/>
    wget -q -O- https://download.opensuse.org/repositories/home:/lachs0r:/taisei{% if stable %}:/stable{% endif %}/{{ distro|replace(" ", "_") }}/Release.key | sudo apt-key add -<br/>
    sudo apt-get update<br/>
    sudo apt-get install taisei
</div>
{% endmacro %}

{% macro suse_help(distro, stable) %}
<a href="#{{ distro|replace(" ","_") }}{% if stable %}_stable{% endif %}">{% if "Ports" in distro %}(ARM){% else %}{{ distro|replace("openSUSE ", "") }}{% endif %}</a>
<div class="code-hidden" id="{{ distro|replace(" ","_") }}{% if stable %}_stable{% endif %}">
    zypper ar -fr https://download.opensuse.org/repositories/home:/lachs0r:/taisei{% if stable %}:/stable{% endif %}/{{ distro|replace(" ", "_") }}/home:lachs0r:taisei{% if stable %}:stable{% endif %}.repo<br/>
    zypper in taisei
</div>
{% endmacro %}

{% macro fedora_help(distro, stable) %}
<a href="#{{ distro|replace(" ","_") }}{% if stable %}_stable{% endif %}">{{ distro|replace("Fedora ", "") }}</a>
<div class="code-hidden" id="{{ distro|replace(" ","_") }}{% if stable %}_stable{% endif %}">
    dnf config-manager --add-repo https://download.opensuse.org/repositories/home:/lachs0r:/taisei{% if stable %}:/stable{% endif %}/{{ distro|replace(" ", "_") }}/home:lachs0r:taisei{% if stable %}:stable{% endif %}.repo<br/>
    dnf install taisei
</div>
{% endmacro %}

{% block content %}
            <h1>Download</h1>
            <p>
                We provide pre-built packages for <a href="#windows">Windows</a>, <a href="#macos">macOS</a>, and some <a href="#linux">Linux</a> distributions.
                You can also download the <a href="#source">source code</a> and build it yourself,
                or <a href="https://repology.org/metapackage/taisei/versions">look for a package</a> in your distribution's repositories.
            </p>
            <p>If you find any mistakes, please contact us.</p>
            <hr />
            <h2 id="windows">Windows</h2>
            <h3>Stable</h3>
            <ul>
                <li><a href="https://github.com/taisei-project/taisei/releases/download/v{{ latest_version() }}/Taisei-{{ latest_version() }}-setup-x86_64.exe">v{{ latest_version() }} 64-bit (installer)</a></li>
                <li><a href="https://github.com/taisei-project/taisei/releases/download/v{{ latest_version() }}/Taisei-{{ latest_version() }}-setup-x86.exe">v{{ latest_version() }} 32-bit (installer)</a></li>
                <br />
                <li><a href="https://github.com/taisei-project/taisei/releases/download/v{{ latest_version() }}/Taisei-{{ latest_version() }}-windows-x86_64.zip">v{{ latest_version() }} 64-bit (zip)</a></li>
                <li><a href="https://github.com/taisei-project/taisei/releases/download/v{{ latest_version() }}/Taisei-{{ latest_version() }}-windows-x86.zip">v{{ latest_version() }} 32-bit (zip)</a></li>
            </ul>
            <p>If in doubt, try the 64-bit installer first.</p>
            <p>We use <a href="http://mxe.cc/">MXE</a> to compile the official Windows releases.</p>
            <hr />
            <h2 id="linux">Linux</h2>
            <h3>Arch Linux</h3>
            There are <a href="https://aur.archlinux.org/packages/taisei/">taisei</a>
            and <a href="https://aur.archlinux.org/packages/taisei-git/">taisei-git</a>
            PKGBUILDs available on <a href="http://aur.archlinux.org/">AUR</a>.
            <h3>Open Build Service</h3>
            We also provide packages for a variety of distributions at Open Build Service.
            {% for title, stable in [("Stable", True), ("Development Snapshots", False)] %}
            <h4>{{ title }}</h4>
            <p>openSUSE</p>
            {% for distro in [
                "openSUSE Tumbleweed",
                "openSUSE Leap 15.0",
            ] %}
            {{ suse_help(distro, stable)|indent(4*3)|safe }}
            {% endfor %}
            {% endfor %}
            <hr />
            <h2 id="macos">macOS</h2>
            <ul>
                <li><a href="https://github.com/taisei-project/taisei/releases/download/v{{ latest_version() }}/Taisei-{{ latest_version() }}-macOS.dmg">v{{ latest_version() }} 64-bit (macOS 10.7 or later required)</a></li>
            </ul>
            <hr />
            <h2 id="source">Source Code</h2>
            <p>
                Building Taisei is easy (unless you are on Windows).
                Download the source code and follow the instructions in <tt>README.md</tt>.
                Feel free to contact us if you have problems.
            </p>
            <p>
                Although Taisei supports only Linux, macOS, and Windows officially, it's also known to work on FreeBSD and OpenBSD.
                Generally, it should build and run on any POSIX-compliant OS, given that SDL2 and OpenGL 2.1 also work there.
            </p>
            <h3>Stable</h3>
            <ul>
                <li><a href="https://github.com/taisei-project/taisei/tarball/v{{ latest_version() }}">v{{ latest_version() }}</a></li>
            </ul>
            <h3>Unstable</h3>
            <tt>git clone <a href="https://github.com/taisei-project/taisei">https://github.com/taisei-project/taisei</a></tt>
{% endblock %}
