{% extends "main.html" %}
{% block title %}Download{% endblock %}
{% block content %}
<h1>Download</h1>
<p>We have some binaries for Windows and OS X. For Linux, you can either look for a package in your distribution or build Taisei from <a href="#source">source</a> (Should be pretty straightforward).</p>
<p>If you find any mistakes, please contact us.</p>

<h2>Windows</h2>
<h3>Stable</h3>
<ul>
    <li><a href="https://github.com/taisei-project/taisei/releases/download/v1.1.1/Taisei-1.1.1-win64.exe">v1.1.1 64-bit (installer)</a></li>
    <li><a href="https://github.com/taisei-project/taisei/releases/download/v1.1.1/Taisei-1.1.1-win32.exe">v1.1.1 32-bit (installer)</a></li>
    <br />
    <li><a href="https://github.com/taisei-project/taisei/releases/download/v1.1.1/Taisei-1.1.1-win64.7z">v1.1.1 64-bit (7zip)</a></li>
    <li><a href="https://github.com/taisei-project/taisei/releases/download/v1.1.1/Taisei-1.1.1-win32.7z">v1.1.1 32-bit (7zip)</a></li>
</ul>
If in doubt, try the 64-bit installer first.
<hr />
<h2>Linux</h2>
<h3>Arch Linux</h3>
There are <a href="https://aur.archlinux.org/packages/taisei/"><tt>taisei</tt></a> and <a href="https://aur.archlinux.org/packages/taisei-git/"><tt>taisei-git</tt></a> PKGBUILDs available on <a href="http://aur.archlinux.org/">AUR</a>.
<h3>Other</h3>
<p>We provide packages for some distributions and AppImages using the OBS.</p>
<ul>
    <li><a href="https://download.opensuse.org/repositories/home:/lachs0r:/taisei:/stable/">Stable releases</a></li>
    <li><a href="https://download.opensuse.org/repositories/home:/lachs0r:/taisei/">Latest in-development versions</a></li>
</ul>
<hr />
<h2>macOS</h2>
<ul>
    <li><a href="https://github.com/taisei-project/taisei/releases/download/v1.1.1/Taisei-1.1.1-macOS.dmg">v1.1.1 64-bit (macOS 10.7 or later required)</a></li>
</ul>
<hr />
<h2 id="source">Source Code</h2>
Building Taisei is easy (if you are on Linux). Download the source code and follow the instructions in <tt>README.md</tt>. Feel free to contact us if you have problems.
<h3>Stable</h3>
<ul>
    <li><a href="https://github.com/taisei-project/taisei/tarball/v1.1.1">v1.1.1</a></li>
</ul>
<h3>Unstable</h3>
<tt>git clone <a href="https://github.com/taisei-project/taisei">https://github.com/taisei-project/taisei</a></tt>

{% endblock %}
