{% extends "main.html" %}
{% block title %}Home{% endblock %}

{% block content %}
            <h2>What is Taisei?</h2>
            <p>
                <b>Taisei</b> <i>(泰西, lit. Occident)</i> is a free and open-source <a href="https://en.wikipedia.org/wiki/Fangame">fangame</a> of the
                <a href="https://en.wikipedia.org/wiki/Touhou_Project">Tōhō series</a>,
                written in C using SDL2 and OpenGL.
            </p>
            <p>
                Basically, it is a shoot ’em up game with lots of bullets (the genre is
                literally called <i>bullet hell</i>). It doesn’t aim to rebuild a particular
                installment of the Tōhō games, but is rather an original game set in the
                world of Tōhō. Enjoy dodging through 6 stages full of new bullet patterns
                on four difficulty levels!
            </p>
            <p>
                If you have never played Tōhō before, you can have a look at our <a href="https://github.com/taisei-project/taisei/blob/master/doc/GAME.rst">manual</a> for an explanation of the controls and game mechanics.

                The game is mostly done and very
                playable, so feel free to give it a try!
            </p>

            <div class="splitter">
                <div class="splitter-pane">
                    <div class="splitter-pane-header"><h2>Contact us</h2></div>
                    <div class="splitter-pane-content">
                    You can
                    <ul>
                        <li>Visit <a href="irc://irc.freenode.net:6667/taisei-project">#taisei-project</a> on Freenode.</li>
                        <li>Join our <a href="{{ url_for('discord') }}">Discord</a> server.</li>
                        <li>Create an issue on <a href="{{ url_for('code') }}">Github</a><br/>(You don’t have to be a developer to do this).</li>
                        <li>Write us a mail.
                            <ul>
                                <li><kbd>Akari &lt;akari[at]taisei-project.org&gt;</kbd></li>
                                <li><kbd>Laochailan &lt;laochailan[at]web.de&gt;</kbd></li>
                                <li><kbd>mia &lt;mia[at]taisei-project.org&gt;</kbd></li>
                            </ul>
                        </li>
                        <li>Support us on <a href="https://liberapay.com/Taisei">Liberapay</a> or <a href="https://patreon.com/taisei_project">Patreon</a>.</li>
                    </ul>
                    </div>
                </div>

                <div class="splitter-pane">
                    <div class="splitter-pane-header"><h2>Gameplay demo</h2></div>
                    <div class="splitter-pane-content"><p>
                        <div class='embed-container'>
                            <iframe width="1600" height="1200" src="https://www.youtube-nocookie.com/embed/exI-OhuHOGw?vq=hd1080&modestbranding=1&rel=0" allow="encrypted-media; picture-in-picture; fullscreen" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}
