{% extends "main.html" %}
{% block title %}Home{% endblock %}

{% block content %}
            <div style="max-width:40%; float:right;">
                <div style="padding: 0.4em; background:#044;  text-align:center; margin-left:3.5%;">
                    <a href="{{url_for('download')}}" style="text-decoration: none; color: #ccc;">
                        <span style="font-size: 1.55em; font-weight:bold;">Download</span><br />
                        <span>Current Version: <b>v{{ latest_version() }} (NEW!)</b></span>
                    </a>
                </div>
                <img src="{{url_for('static', filename='youmu.png')}}" alt="Youmu" />
            </div>
            <style>.embed-container { position: relative; padding-bottom: 40%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed/rZJeAu2LdA4' frameborder='0' allowfullscreen><a href="https://www.youtube.com/embed/rZJeAu2LdA4">Gameplay video by Ultroloth</a></iframe></div>
            <h2>What is Taisei?</h2>
            <p>
                Taisei (lit. Occident) is a free and open-source <a href="https://en.wikipedia.org/wiki/Fangame">fangame</a> of the
                <a href="https://en.wikipedia.org/wiki/Touhou_Project">Tōhō series</a>,
                written in C using SDL2 and OpenGL.
            </p>
            <p>
                Basically, it is a shoot ’em up game with lots of bullets (the genre is
                literally called <i>bullet hell</i>). The game is mostly done and very
                playable, so feel free to give it a try!
            </p>
	    <h2>Have you been ripped off?</h2>
	    <p>
		A while ago we have learned that somebody created a bad reskin
		of an old version of our game and is selling it full of
		microtransactions on the iOS App Store.
		We feel very sorry for everybody who bought a game they could
		have had significantly better for free.
		Please help spread the word about this. Taisei is the original
		and will always remain free!
	    </p>
            <h2>Contact us</h2>
            You can
            <ul>
                <li>visit <a href="irc://irc.freenode.net:6667/taisei-project">#taisei-project</a> on Freenode.</li>
                <li>join our <a href="https://discord.gg/JEHCMzW">Discord</a> server.</li>
                <li>create an issue on <a href="https://github.com/taisei-project/taisei">Github</a> (You don’t have to be a developer to do this).</li>
                <li>write <kbd>Laochailan &lt;laochailan[at]web.de&gt;</kbd> or <kbd>lachs0r &lt;lachs0r[at]taisei-project.org&gt;</kbd> a mail.</li>
            </ul>
{% endblock %}
