{% macro latest_version() %}
1.2
{% endmacro %}
<!DOCTYPE html>
<html>
    <head>
        <title>{%block title%}{%endblock%} — Taisei Project</title>
        <link rel="alternate" type="application/atom+xml" title="News" href="/news.atom" />
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}" />
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    </head>
    <body>
        <div id="head"></div>

        <div id="nav">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('news') }}">News</a>
            <a href="{{ url_for('media') }}">Media</a>
            <a href="https://github.com/taisei-project/taisei">GitHub</a>
            <a href="{{ url_for('download') }}">Download</a>
        </div>

        <div id="content">
            {%block content %}{%endblock%}
        </div>
    </body>
</html>
