{% extends "main.html" %}
{% block title %}Media{% endblock %}
{% block content %}
<h1>Media</h1>
<h2>Development</h2><br />
<a href="http://www.abload.de/img/taisei_20120803_19-53bee3o.png"><img width="400" height="300" src="http://www.abload.de/img/taisei_20120803_19-53bee3o.png" alt="Taisei Screenshot" /></a><br /><br />
<a href="http://www.abload.de/img/taisei_kurumi1epik8.png"><img width="400" height="300" src="http://www.abload.de/img/taisei_kurumi1epik8.png" alt="Taisei Screenshot" /></a><br /><br />
<a href="http://www.abload.de/img/taisei_mansion28muqd.png"><img width="400" height="300" src="http://www.abload.de/img/taisei_mansion28muqd.png" alt="Taisei Screenshot" /></a><br /><br />
<a href="http://www.abload.de/img/taisei_modelsap97.png"><img width="400" height="300" src="http://www.abload.de/img/taisei_modelsap97.png" alt="Taisei Screenshot" /></a><br />
<h2>Ancient Times</h2><br />
<a href="http://www.abload.de/img/taisei_multbgxlocp.png"><img width="400" height="300" src="http://www.abload.de/img/taisei_multbgxlocp.png" alt="Taisei Screenshot" /></a><br /><br />
<a href="http://www.abload.de/img/wassersu6z.png"><img width="400" height="300" src="http://www.abload.de/img/wassersu6z.png" alt="Taisei Screenshot" /></a><br /><br />
<a href="http://www.abload.de/img/taisei_mainmenu11nyx.png"><img width="400" height="300" src="http://www.abload.de/img/taisei_mainmenu11nyx.png" alt="Taisei Screenshot" /></a><br /><br />
<a href="http://www.abload.de/img/taisei0_bossvadm.png"><img width="400" height="300" src="http://www.abload.de/img/taisei0_bossvadm.png" alt="Taisei Screenshot" /></a><br /><br />
<h2>Really Ancient Times</h2><br />
<a href="http://www.abload.de/img/openth2ls10.png"><img width="400" height="300" src="http://www.abload.de/img/openth2ls10.png" alt="Taisei Screenshot" /></a><br /><br />
<a href="http://www.abload.de/img/openth33rs7.png"><img width="400" height="300" src="http://www.abload.de/img/openth33rs7.png" alt="Taisei Screenshot" /></a><br /><br />
<h2>Ancient Greece</h2><br />
<a href="http://www.abload.de/img/openthcbmp.png"><img width="400" height="300" src="http://www.abload.de/img/openthcbmp.png" alt="Taisei Screenshot" /></a><br /><br />
<h2>When Taisei was written in C++ and used Clanlib</h2>
N/A
{% endblock %}
