{% extends "main.html" %}
{% block title %}Media{% endblock %}

{% macro screenshot(name, desc='Taisei Screenshot', width=400, height=300) -%}
<a href="{{url_for('static', filename='media/taisei_20120803_19-53.png')}}">
<img width="{{ width }}" height="{{ height }}" src="{{url_for('static', filename='media/' + name)}}" alt="{{ desc }}" /></a>
{%- endmacro %}

{% block content %}
<h1>Media</h1>

{% for caption, shots in [
    ('Development', [
        'taisei_20120803_19-53.png',
        'taisei_kurumi.png',
        'taisei_mansion.png',
        'taisei_models.png'
    ]),
    ('Ancient Times', [
        'taisei_multbg.png',
        'wasser.png',
        'taisei_mainmenu.png',
        'taisei0_boss.png'
    ]),
    ('Really Ancient Times', [
        'openth2.png',
        'openth3.png',
        'openth.png'
    ])
] %}
<h2>{{ caption }}</h2><br />
{% for shot in shots %}
{{ screenshot(shot) }}<br /><br />
{% endfor %}
{% endfor %}
<h2>When Taisei was written in C++ and used Clanlib</h2>
N/A
{% endblock %}
